/* Animaciones Cartas */
#cartas .card:hover {
    border: solid rgb(121, 100, 107);
  } 
  
  .no-transition { 
    text-align: center;
  }
  
  /* Animacion  Titulo Productos Disponibles */
  .intro-1 h3 {
    animation: rosa-verde 2s ease
  }
  @keyframes rosa-verde {
    0% { 
        background-color: rgb(172, 143, 252);
        transform: translate(170px);
        
        
    
    }
  
    30% {
        background-color: rgb(172, 143, 252);
        transform: translate(170px);
    }
    
    50% {
        background-color: #0dcc0d;
        transform: translate(130px);
    }
    
    70% {
        background-color: #f1e530;
        transform: translate(60px);
  
  
    }
    100% {
        background-color: red;
        transform: rotatex(100px);
        transform: translate(0px);
    }
  }

  .transformacion-1:hover {
    transform: scale(2);
    transition-timing-function: ease;
  }