/* MOBILE */

footer { 
    background-color: hwb(240 91% 6%);
    border-top: solid black;
    height: 100%;
    width: 100%;
  
    a { 
        text-decoration: none;
      }

      ul li {
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        
      }
      
      .fa-brands { 
        width: 100px;
        @include altura(100px);
        margin-top: 15%;
      }
       // maps
       $redes: (
        instagram: palevioletred,
        facebook: blue,
        whatsapp: #27df27,
      );
      @each $rede, $color in $redes {
        .fa-#{$rede} {
          color: $color;
          font-size: $letra-size;
        }
      }
      
}   
