/* Barra de navegacion */
nav { 
    font-size: 30px;
    font-weight: bold;
    background-color: white;
  }
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: hwb(240 91% 6%)!important;
}

  .dropdown-menu {
    font-size: 25px;
  }
  .logo-amici { 
    width: 200px;
    height: 200px;
  }
  .form-control {
    font-size: 30px;
  }
  /* Todos los botones del nav */
  .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
  }
  /* Munu despegable */
  .navbar-toggler {
    font-size: 40px;
  }
  .navbar-collapse { 
    min-height: 250px;
  }
  /* Dentro de Usuario */
  .navbar-na {min-height: 250px;
  }