  @import "variables";
  @import "navbar";
  @import "index";
  @import "footer";
  @import "cartas";
  @import "nosotras";
  @import "animaciones";
  @import "registro";
  @import "iniciosesion";
  @import "grid";
  @import "media1024";
    
  body {margin: 0%;
    background: url(../imagenes/stacked-peaks-haikei.png);
    background-size: cover;
  }  


  
  @media screen and (min-width: 768px){
  
  #boton-ingresar{
    position: relative;
    right: 180px;
  }
  }    
  
 

