body {margin: 0%;
      background-color: #bef3f3;
}
/* Barra de navegacion */
nav { 
    font-size: 30px;
    font-weight: bold;
    background-color: white;
}
.dropdown-menu {
    font-size: 25px;
}
.logo-amici { 
    width: 200px;
    height: 200px;
}
.form-control {
    font-size: 30px;
}
/* Todos los botones del nav */
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}
/* Munu despegable */
.navbar-toggler {
    font-size: 40px;
}
.navbar-collapse { 
    height: 250px;
}
/* Dentro de Usuario */
.navbar-na {height: 250px;
}

/* INDEX */
.foto-header {
    background: aqua url(imagenes/header.jpeg);
    background-size: cover;
    overflow: hidden;
}
.foto-header h3 { 
      color: rgb(194, 8, 194);
      background-color: white;
      margin-top: 1%;
}
.foto-header p {
    color: #f358c5;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    position: relative;
    top: 80px;
}
.off-abajo { 
    margin-top: 14%;
}
#imagenes-index div img{ 
    width: 80%;
    height: 600px;
    margin: 1%;

}

/* Main de Productos */
.main-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.intro-1 h3{ 
    text-align: center;
    font-size: 45px;
    background-color: rgb(252, 143, 215);
    font-family:'Heebo', sans-serif;
    font-weight: bold;
    border-radius: 100%;
    margin: 10%;
}

.intro-2 img { 
    height: 100%;
    width: 100%;
/* Borde Sombrita*/ 
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    margin-top: 5%;
}
.intro-3 img { 
    height: 700px;
    width: 900px;
/* Borde Sombrita*/ 
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    margin-top: 5%;
    text-align: center;
}
.intro-4 img {
    height: 700px;
    width: 900px;
/* Borde Sombrita*/ 
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    margin-top: 5%;
    text-align: center;
}
.intro-5 img {
    height: 700px;
    width: 900px;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
    margin-top: 5%;
    text-align: center;
}
/* Productos/ver mas */
.ver-mas { 
    display: flex;
    justify-content: center;
    position: relative;
    right: 30px;
}

.ver-mas ul {
    list-style-type: none;
   
}
.ver-mas a { 
    text-decoration: none;
    color: #000;
}
.ver-mas h3 { font-size: 50px;
font-weight: bold;}    
/* Fin de main de Productos */

/* Nosotras */
.nosotras-0 h3{ 
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5%;
}
.nosotras div { 
   text-align: center;
}
.nosotras img { 
   width: 90%;
   height: 90%;
   border-radius: 5px;
   box-shadow: 1px 10px 15px rgba(0,0,0,0.50);}
   
.nosotras-2 h3{
   font-size: 45px;
   font-style: normal;
   font-weight: bold;
   color: #080707;
   text-shadow: 4px 4px 5px hsl(0, 1%, 50%);
   text-align: center;
   margin: 5%;
}
   
.nosotras-3 img { 
   width: 90%;
   height: 90%;
   margin: 5%;
}
.nosotras-3 h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
 /* Animaciones */
.transformacion-1 img { 
    transition-duration: 0.3s; 
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .5s;
}
.transformacion-1 img:hover {
     transform: scale(1.5); 
}
.no-transition { 
    text-align: center;
}

/* Animacion Productos Disponibles */
.intro-1 h3 {
    animation: rosa-verde 3s ease
}
@keyframes rosa-verde {
    0% { 
        background-color: rgb(172, 143, 252);
        transform: translate(170px);
    
    }

    30% {
        background-color: rgb(172, 143, 252);
        transform: translate(170px);
    }
    
    50% {
        background-color: #0dcc0d;
        transform: translate(130px);
    }
    
    70% {
        background-color: #f1e530;
        transform: translate(60px);


    }
    100% {

        background-color: red;
        transform: rotatex(100px);
        transform: translate(0px);
        
        
    }
}

/* CONFIGURACION DE INICIO DE SESION */
    
.sesion-1 h3{ 
    font-size: 40px;
    margin: 5%;
    font-family: 'Heebo', sans-serif;
    border: solid gray;
    text-align: center;
}
.sesion-2 h3 { 
    font-size: 60px;
    padding: 25px;
    font-weight: bold;
}
        
/* Cuadro englobador y correo/contraseña */
.sesion-2 {
    position: relative;
    top: 10px;
    width: 600px;
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666668;
    text-align: center;
    box-shadow:  2px 5px 30px #000;
    margin: auto;
    color: white;}
        
.sesion-2 div input { 
    border: solid hsl(192, 64%, 47%);
    font-size: 40px;
    margin: 3%;
}

/*olvidaste tu contraseña?  */
.sesion-2 div p a{ 
    color: white;
    position: relative;
    top: 15px;
    text-decoration: none;
    font-size: 40px;
}

/* BOTON INGRESAR */
.sesion-3 input{ 
    position: relative;
    top: 10px;
}
        
/* si sos nuevo */
.sesion-4 {
    text-align: center;
}
.sesion-4 h3 {
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%;
}
.sesion-4 input { 
    text-align: center;
    border: solid hsl(192, 64%, 47%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
/* Fin de incio de sesion */

/* REGISTRARME */
.registrate-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.englobador-registro {
    width: 600px;
    height: 85%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666668;
    text-align: center;
    box-shadow:  2px 5px 30px #000;
    margin-top: 3%;
}
.registrate-1 { 
    border: solid black;
    text-align: center;
}
.registrate-1 h3 {
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
}
.registrate-2 { 
    text-align: center;

}
.registrate-2 h3{
    position: relative;
    top: 20px;
    font-size: 40px;
    color: white;
}
.registrate-2 input {
    position: relative;
    top: 40px;
    font-size: 30px;
}
.apellido-boton { 
    text-align: center;
}
.apellido-boton h3 {
    position: relative;
    top: 80px;
    font-size: 40px;
    color: white;
}
.apellido-boton input { 
    position: relative;
    top: 90px;
    font-size: 30px;
}
.registrate-3 { 
    text-align: center;
    position: relative;
    top: 130px;
}
.registrate-3 input{
    position: relative;
    top: 30px;
    font-size: 30px;
    }
.registrate-3 h3 {
    font-size: 40px;
    color: white;
}
.contra-boton {
    text-align: center;
}
.contra-boton input{
    font-size: 30px;
    position: relative;
    top: 230px
}
.contra-boton h3 {
    font-size: 40px;
    position: relative;
    top: 210px;
    color: white;
}
.registrate-4 h3{
    font-size: 35px;
    position: relative;
    top: 280px;
    left: 10px;
    color: white;

}
.registrate-4 input {
    font-size: 30px;
    position: relative;
    top: 300px;
    left: 50px;
}
#boton-ingresar{
    position: relative;
    top: 380px;
    right: 170px;
}
.registrate-main{
    height: 1100px;
}

/* footer */

footer { 
    background-color: hwb(240 91% 6%);
    border-top: solid black;
    height: 100%;
    width: 100%;
}   
footer a { 
    text-decoration: none;
}

footer ul li {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    
}
.fa-brands { 
    width: 100px;
    height: 100px;
    margin-top: 15%;
}
footer .fa-instagram { 
    color: palevioletred;
    font-size: 40px;
}
footer .fa-facebook { 
    color: blue;
    font-size: 40px;
}
footer .fa-whatsapp {
    color: #27df27;
    font-size: 40px;
}

.foo-tamaño {
    font-size: 25px;
}
/* fin del footer */


/* grid area */
.h3-galeria {
    text-align: center;
    font-size: 40px;
}
.galeria img {
    object-fit: cover;
    width: 80%;
    height: 80%;
    margin: 5px;
    
}
.galeria { 
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3,320px);
    grid-gap: 5px;
    text-align: center;
}

@media screen and (min-width: 768px){

#boton-ingresar{
    position: relative;
    right: 180px;
}
}    

@media screen and (min-width: 1024px){

/* Barra de navegacion */
nav { 
    font-size: 15px;
    font-weight: bold;
}
.dropdown-menu {
    font-size: 12px;
}
.logo-amici { 
    width: 100px;
    height: 100px;
    position: relative;
    top: 4px;
}
.form-control {
    font-size: 20px;
}
.btn { 
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.navbar-toggler {
    font-size: 20px;
}
.navbar-collapse { 
    height: 100px;
}
.navbar-na {height: 100px;
}

/* INDEX IMAGENES */

#imagenes-index div img{ 
    width: 100%;
    height: 600px;
    margin: 1%;

}

/* Productos */
.intro-1 h3{ 
    text-align: center;
    font-size: 20px;
    background-color: rgb(252, 143, 215);
    font-family:'Heebo', sans-serif;
    font-weight: bold;
}
.intro-2 {
    text-align: center;
    margin: 5%;
}

/* tamaño de gorras */
.intro-2 img { 
    height: 200px;
    width: 200px;
/* Borde Sombrita */
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
    
    
/* introduccion 3 */
.intro-3  { 
    text-align: center;
    margin: 5%;
}
        
/* config gorros de la lana */
.intro-3 img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);}
    

 .intro-4 {
     text-align: center;
     margin: 5%;
 }   
.intro-4 img {
    height: 200px;
    width: 200px;
/* Borde Sombrita */
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);

}

.intro-5 {
    text-align: center;
    margin: 5%;
}
.intro-5 img {
    height: 200px;
    width: 200px;
/* Borde Sombrita */
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.50);
}
/* Fin de main de index */
/* Productos/ver mas */
.ver-mas { 
    display: flex;
    justify-content: center;
    position: relative;
    right: 10px;
    top: 30px;
}

.ver-mas h3 { font-size: 20px;}

/* Nosotras */
.nosotras-0 h3{ 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    border: solid pink;
}
.nosotras div { 
   text-align: center;
}
.nosotras img { 
   width: 50%;
   height: 50%;
   border-radius: 5px;
   box-shadow: 1px 10px 15px rgba(0,0,0,0.50);}
   
.nosotras-2 h3{
   font-size: 30px;
   font-style: normal;
   font-weight: bold;
   color: #080707;
   text-shadow: 4px 4px 5px hsl(0, 1%, 50%);
   text-align: center;
   margin: 5%;
}
   
.nosotras-3 img { 
   width: 40%;
   height: 40%;
   margin: 5%;
   margin-left: 30%;
}
.nosotros-3 h3 {
    font-weight: bold;
    font-size: 20px;
}
 /* Animaciones */
.transformacion-1 img { 
    transition-duration: 0.3s; 
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: .5s;
}
.transformacion-1 img:hover {
     transform: scale(1.5); 
}
.no-transition { 
    text-align: center;
}

/* CONFIGURACION DE INICIO DE SESION */
    
.sesion-1 h3{ 
    font-size: 25px;
    margin: 5%;
    font-family: 'Heebo', sans-serif;
    border: solid gray;
    text-align: center;
}
.sesion-2 h3 { 
    font-size: 40px;
    padding: 25px;
    font-weight: bold;
}
        
/* Cuadro englobador y correo/contraseña */
.sesion-2 {
    position: relative;
    top: 10px;
    width: 400px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666668;
    text-align: center;
    box-shadow:  2px 5px 30px #000;
    margin: auto;
    color: white;}
        
.sesion-2 div input { 
    border: solid hsl(192, 64%, 47%);
    font-size: 20px;
    margin: 3%;
}

/*olvidaste tu contraseña?  */
.sesion-2 div p a{ 
    color: white;
    position: relative;
    top: 15px;
    text-decoration: none;
    font-size: 20px;
}

/* BOTON INGRESAR */
.sesion-3 input{ 
    position: relative;
    top: 10px;
}
        
/* si sos nuevo */
.sesion-4 h3 {
    position: relative;
    top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%;
}
.sesion-4 input { 
    text-align: center;
    border: solid hsl(192, 64%, 47%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
/* Fin de incio de sesion */

/* REGISTRARME */
.registrate-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrate-1 { 
    border: solid black;
    text-align: center;
}
.registrate-1 h3 {
    font-size: 30px;
    font-family: 'Heebo', sans-serif;
}
.registrate-2 { 
    text-align: center;

}
.registrate-2 h3{
    position: relative;
    top: 20px;
    font-size: 25px;
}
.registrate-2 input {
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 23px;
}
.apellido-boton { 
    text-align: center;
}
.apellido-boton h3 {
    position: relative;
    top: 80px;
    font-size: 25px;
}
.apellido-boton input { 
    position: relative;
    top: 90px;
    left: 20px;
    font-size: 23px;
}
.registrate-3 { 
    text-align: center;
    position: relative;
    top: 130px;
}
.registrate-3 input{
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 23px;
    }
.registrate-3 h3 {
    font-size: 25px;
}
.contra-boton {
    text-align: center;
}
.contra-boton input{
    font-size: 23px;
    position: relative;
    top: 250px;
    left: 20px;

}
.contra-boton h3 {
    font-size: 25px;
    position: relative;
    top: 210px;
}
.registrate-4 h3{
    font-size: 25px;
    position: relative;
    top: 280px;

}
.registrate-4 input {
    font-size: 23px;
   position: relative;
   top: 310px;
   left: 75px;
}
#boton-ingresar{
    position: relative;
    right: 140px;
    top: 420px;
}
.registrate-main{
    position: relative;
    top: 50px;
  }
/* footer */


footer .fa-instagram { 
    color: palevioletred;
    font-size: 40px;
}
footer .fa-facebook { 
    color: blue;
    font-size: 40px;
}
footer .fa-whatsapp {
    color: #27df27;
    font-size: 40px;
}
.foo-tamaño {
    font-size: 20px;
}
/* fin del footer */


/* grid area */
.h3-galeria {
    text-align: center;
    font-size: 25px;
    margin-top: 1%;
}
.galeria img {
    object-fit: cover;
    width: 70%;
    height: 70%;
    margin: 5px;
    margin-left: 30%;
    margin-top: 50px ; 
    
}
.galeria { 
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3,320px);
    grid-gap: 5px;
    
}


}
